<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Вузы Москвы</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="start_card">
            <div class="header">
                <p class="article"><a href="/">Вузы Москвы</a></p>
            </div>
            <div class="start_field">
                <p class="start_button"><a href="/admin">Администратор</a></p>
                <p class="start_button"><a href="/user">Пользователь</a></p>
            </div>
            <div class="footer">
                <p class="makers">Курсовой проект по предмету база данных. Реализация сайта ВУЗов Москвы. Выполнили Мерц Савелий, Михеева Кристина, Варламова Анна М8О-307Б-20. 2022</p>
            </div>
        </div>
    </body>
</html>