<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Обновить</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="big_card">
            <div class="header_main">
                <p class="article"><a href="/">Вузы Москвы</a></p>
            </div>
            <div class="inputs">
                <form method="post" enctype="multipart/form-data">
                    <div class="in"><input type="text" name="name" id="name" class="form-control" placeholder="Название" value="{{ univer.name }}"><br></div>
                    <div class="in"><input type="text" name="adress" id="adress" class="form-control" placeholder="Адрес" value="{{ univer.adress }}"><br></div>
                    <div class="in"><input type="submit" class="btn btn-success" value="Отправить"></div>
                </form>
            </div>
            <div class="footer_main">
                <p class="makers">Курсовой проект по предмету база данных. Реализация сайта ВУЗов Москвы. Выполнили Мерц Савелий, Михеева Кристина, Варламова Анна М8О-307Б-20. 2022</p>
            </div>
        </div>
    </body>
</html>