<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Направления</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="big_card">
            <div class="header_main">
                <p class="article"><a href="/">Вузы Москвы</a></p>
            </div>
            <div class="buttons_contain">
                <p class="user_button"><a href="/search_spec">Поиск по номеру направления</a></p>
                <p class="user_button"><a href="/search_exams">Поиск по ЕГЭ</a></p>
            </div>
            <div class="cards">
                {% if bachelors|length > 0%}
                    {% for el in bachelors %}
                        <div class="sp_card">
                            <div class="note">
                                <p>Номер специальности: {{ el.num_of_spec }}</p>
                                <p>Название специальности: "{{ el.name }}"</p>
                                <p>Экзамены: "{{ el.exams }}"</p>
                                <p>Проходной балл на бюджет: {{ el.budget_score }}</p>
                                <p>Проходной балл на платную основу: {{ el.paid_score }}</p>
                                <p>Число бюджетных мест: {{ el.budget_places }}</p>
                                <p>Число платных мест: {{ el.paid_places }}</p>
                                <p>Стоимость обучения в год: {{ el.paid_cost }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="nothing">Заполните бд</p>
                {% endif %}
            </div>
            <div class="footer_main">
                <p class="makers">Курсовой проект по предмету база данных. Реализация сайта ВУЗов Москвы. Выполнили Мерц Савелий, Михеева Кристина, Варламова Анна М8О-307Б-20. 2022</p>
            </div>
        </div>
    </body>
</html>